<h1>Business Types</h1>

<ul>
  <% @types.each do |type| %>
    <li><%= link_to type.name, type_path(type) %></li>
  <% end %>
</ul>

<h3>Local Businesses</h3>
<% @localBusinesses.each do |business| %>
  <%= business.name %>
<% end %>

<%= link_to "Add Business Type", new_type_path %>
