<h1><%= @city.name %></h1>

<% if @city.businesses.any? %>
  <% @city.businesses.each do |business| %>
    <li><%= link_to business.id, type_business_path(business.type, business) %></li> <!--add link eventually -->
  <% end %>
<% else %>
  <p>There aren't any businesses in this city yet!</p>
<% end %>

<p><%= link_to "Edit", edit_city_path(@city) %></p>
<p><%= link_to "Delete", city_path(@city),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
